@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Raleway, Verdana, serif;
    font-size: 1em;
    /*background-color: #eee;*/
    height: 100%;
    width: 100%;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #3b3b3b;
}

input {
    width: 200px;
    height: 25px;
}

label {
    display: block;
}

ul {
    list-style: none;
}

li {
    padding: 5px 0 5px 0;
}

h1, h2, h3 {
    margin-bottom: 1em;
}

#container {
    text-align: center;
    height: 100%;
}

.main-article {
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 100%;
    text-align: left;
    border-left: 1px solid #4c4c54;
    border-right: 1px solid #4c4c54;
}

header {
    width: 100%;
    height: 50px;
    background-color: black;
}

header a {
    color: #eee;
}

.navbar {
    margin: auto;
    padding: 10px 0 10px 0;
    width: 80%;
}

.navbar-left, .navbar-right {
    display: inline-block;
}

.navbar-left {

}

.navbar-right {
    float: right;
}

.navbar-right li {
    display: inline-block;
}