@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Raleway, Verdana, serif;
    font-size: 1em;
    color: #000;
    height: 100%;
    width: 100%;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #3b3b3b;
}

ul {
    list-style: none;
}

h1, h2, h3 {
    margin-bottom: 1em;
}

.main-article {
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 100%;
    text-align: left;
}

header {
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

header a {
    color: black;
}

header a:hover {
    text-decoration: none;
}

.navbar {
    margin: auto;
    padding-top: 7px;
    width: 70%;
}

.navbar-left, .navbar-right {
    display: inline-block;
}

.navbar-left a {
    font-size: 1.5em;
}

.navbar-right {
    float: right;
}

.signin-register-list {
    padding-top: 7px;
}

.signin-register-list li {
    display: inline-block;
}

.horizontal-list-divider {
    padding: 0 5px;
}

.upload-link, .dropdown {
    display: inline-block;
}

.upload-form {
    width: 100%;
}

.error-text {
    color: #ba3838;
}